@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
   
   *{
        margin:0;
        padding:0;
        box-sizing:border-box;
        text-decoration: none;
        border: none;
        outline: none;
        scroll-behavior: smooth;
        font-family: "Poppins", sans-serif;
}
:root
{
    --white-clr:#fff;
    --black-clr:#000;
    --grey-clr:#ECECEC;
    --orange-clr:orange;
    --silver-clr:silver;
    
}
html{
    font-size: 60%;
    overflow-x: hidden;

}
body{
    background: var(--black-clr);
    color: var(--white-clr);
}
header{
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   padding: 4rem 12% 4rem;
   background: rgba(0, 0, 0, 0.3); 
   backdrop-filter: blur(10px);
   display: flex;
   justify-content: space-between;
   align-items: center;
   z-index: 5;
}
.logo
{
    font-size:3rem;
    color:var(--white-clr);
    font-weight: 800;
    cursor: pointer;
    transition: 3.5s ease;

}
.logo:hover{
    transform: scale(1.1);

}
span{
    text-shadow: 0 0 25px;
    color: var(--orange-clr);
}
.navbar a{
   
    font-size: 1.8rem;
    color: var(--white-clr);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}
.navbar a:hover, .navbar a.active{
    color: var(--orange-clr);
    border-bottom: 3px solid var(--orange-clr);
}
#menu-icon{
    font-size: 3.6rem;
    color: var(--orange-clr);
    display: none;
}
section{
    min-height:100vh;
    padding:10rem 12% 10rem;
}
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:15rem;
}
.home-content{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: left;
    justify-content: center;
    margin-top: 3rem;
}
span{
    color:var(--orange-clr);
}
.logo span{
    color: var(--orange-clr);
}
.home-content{
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: 3.5rem;
}
.home-content h1{
    font-size: 7rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;
}
.home-img{
    border-radius: 50%;
   
}
.home-img img{
    width: 40rem;
   position: relative;
    top: 3rem;
    border-radius: 50%;
    box-shadow: 25px 25px 25px var(--orange-clr);
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
.home-img img:hover{
    box-shadow: 0 0 25px var(--orange-clr),
                0 0 50px var(--orange-clr),
                0 0 25px var(--orange-clr);
}
.home-content p{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8;
    max-width: 1000px;
}
.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    background: transparent;
    border: 2px solid var(--orange-clr);
    font-size: 2.5rem;
    border-radius: 50%;
    color: var(--orange-clr);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease-in-out;
}
.social-icons a:hover{
    color: var(--white-clr);
    transform: scale(1.3)translateY(-5);
    box-shadow: 0 0 25px var(--orange-clr);
    background-color: var(--orange-clr);
}
.btn
{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--orange-clr);
    box-shadow: 0 0 25px var(--orange-clr);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: black;
    border: 2px solid transparent;
    letter-spacing: 0.1rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.btn:hover{
    transform: scale(1.05);
    box-shadow: 0 0 50px var(--orange-clr);
}
.btn-group
{
    gap: 1.5rem;
    align-items: center;
    display: flex;
}
.btn-group a:nth-last-of-type(2){
    background-color: black;
    color: var(--orange-clr);
    border: 2px solid var(--orange-clr);
    box-shadow: 0 0 25px transparent;
}
.btn-group a:nth-last-of-type(2):hover{
    box-shadow: 0 0 25px var(--orange-clr);
    background-color: var(--orange-clr);
    color: black;
}
.text-animation
{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}
.text-animation span{
    position: relative;

}
.text-animation span::before
{
    content: "Designing digital experiences that inspire";
    animation:words 20s infinite;
    color: var(--orange-clr);
}
.text-animation span::after
{
    content: "";
    background-color: var(--black-clr);
    position: absolute;
    height: 100%;
    width: calc(100%+8px);
    border-radius: 3px solid var(--black-clr);
    right: -8px;
    animation: 0.6s infinite, typing 20s steps(14)infinite;
}
@keyframes cursor{
    to{
        border-left: 2px solid var(--orange-clr);
    }
}
@keyframes words
{
    0%,
    20%
    {
        content:"Passionate about designing website";
    }
}
@keyframes typing
{
    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95%{
        width: 0;
    }
    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85%{
        width:calc(100%+8px);
    }
}
/*about*/
#about
{
    padding-left: 100px;
    background: var(--black-clr);

}
.row
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.abt-col-1
{
    flex-basis: 35%;
    padding-left: 90px;

}
.abt-col-1 img{
    width: 100%;
    border-radius: 15px;
    
}
.abt-col-2{
    flex-basis: 60%;
    padding-right: 100px;
    
}
.abt-col-2 h1{
    font-size: 50px;
    
    color: var(--orange-clr);
}
p{
    justify-content: center;
   text-transform: none;
    justify-items: normal;
    text-size-adjust:0.545;
    font-size: 15px;
    text-align: justify;
    width: 100%;
    font-weight: 500;
    line-height: 200%;
    color: var(--white-clr);
}
.timeline
{
    position: relative;
    max-width: 1200px;
    margin: 100px auto;
    padding-top: 10px;
}
.head{
    text-align: left;
    font-size: 50px;
     color: var(--orange-clr);
     padding-left: 50px;
}
.container{
    padding: 10px 50px;
    position: relative;
    width: 50%;
    background: var(--black-clr);
}

.text-box{
    padding: 20px 30px;
    background-color: var(--black-clr);
    position:relative;
    border-radius: 8px;
    font-size: 15px;
    box-shadow: 0 0 25px var(--orange-clr),
                0 0 50px var(--orange-clr);
                transition: 0.4s ease-in-out;
                cursor: pointer;
}
.left-container{
    left: 0%;
}
.right-container
{
    left:50%;
}
.title h1{
    color: var(--orange-clr);
    margin-left: 50px;
    text-align: left;
    font-size: 50px;
     color: var(--orange-clr);
     padding-left: 90px;
}
.content{
    margin-left: 50px;
    text-align: justify;
    padding-right: 100px;
    padding-left: 90px;
}
.gallery-container{
     display: flex;
     flex-wrap: wrap;
     background-color: var(--black-clr);
     width: 94%;
     padding: 10px;
     box-shadow: 0 0 25px var(--orange-clr);
     margin: 0px auto;
}
.gallery-item{
    flex-basis: 32.7%;
    margin-bottom: 6px;
    opacity: 0.85;
    cursor: pointer;
}
.gallery-item:hover{
    opacity: 1;
}
.gallery-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*.lightbox{
    position: fixed;
    display: none;
    background-color:rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    overflow: auto;
    top:0;
    left: 0;
}
.lightbox-content{
    position: relative;
    width: 65%;
    height: 58%;
    margin: 5% auto;
    margin-top: 100px;
}
.lightbox-content img{
    width: 100%;
    height: 100%;
    border: 6px solid var(--white-clr);
    object-fit: cover;
}
.lightbox-prev,.lightbox-next{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    color: var(--white-clr);
    padding: 9px;
    top: 45%;
    cursor: pointer;

}
.lightbox-prev{
    left:0;
}
.lightbox-next{
    right: 0;
}/
/*.Gallery{
    width: 900px;
    display: flex;
    overflow-x: scroll;
}
.Gallery div{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    padding:10px;
    flex: none;
}
.Gallery div img{
    width:100%;
    justify-items: center;
    justify-content: center;
    padding: 10px;
    margin: 100px;
filter: grayscale(100%);
transition: transform 0.5s;
}
.Gallery::-webkit-scrollbar{
    display: none;
}
.gallery-wrap
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:10% auto;

}
#rightBtn, #leftBtn
{
    width: 50px;
    cursor: pointer;
    margin:40px;
}
.Gallery div img:hover{
    filter: grayscale(0);
    cursor: pointer;
    transform: scale(1.1);
}*/
.social-media{
display: flex;
font-size: 2.5rem;

padding-left: 90px;
}

.icon{
    color: var(--orange-clr);
    word-spacing: 2px;
    border-radius: 50%;
}
@media(max-width:1285px){
    html{
        font-size:55%;
    }
    
    }
@media(max-width:991px){
    header{
        padding: 2rem 3%;
    }
    section{
        padding:10rem 3% 2rem;
    }
    .timeline{
        left: 7px;
    }
}
@media(max-width:895px){
   header #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        right: 0;
        width: 50%;
        padding: 1rem 3%;
        display: none;
        background-color: rgba(0, 0, 0, 0.8);
        /*backdrop-filter: blur(20px);*/
        border-bottom-left-radius: 2rem;
        border-left:2px solid var(--orange-clr);
        border-bottom: 2px solid var(--orange-clr);
        

    }
    .navbar .active{
        display: block;
    }
    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        color: var(--white-clr);
    }
    .home{
        flex-direction: column-reverse;
        margin: 5rem 4 rem;
    
    }
    .home-content h3{
        font-size: 2.6rem;
       
    }
    .home-content h1{
        font-size: 8rem;
        margin-top: 3rem;
      
    }
    .home-content p{
        max-width: 600px;
        margin: 0 auto;
    }
    .home-img img{
        width: 56vw;
    }
    .abt-col-1, .abt-col-2{
        flex-basis: 100%;
    }
    .abt-col-1{
        margin-bottom: 30px;
    }
    .abt-col-1 img{
    
        width: 56vw;
    
    }
    .abt-col-2 h1 p{
        flex-basis: 100%;
        padding: 20px;
    }
    .abt-col-2{
        font-size: 14px;
       
    }
    .timeline{
        margin:50px auto;
    }
    .container{
        width: 100%;
        padding-left: 80px;
        padding-right:25px;
    }
    .text-box small{
        margin-bottom: 10px;
    }
    .right-container{
        left:0;
    }

.social-media{
    display: block;
}
.gallery-container{
    width: 100%;
}
.gallery-item{
    flex-basis: 49.80%;
    margin-bottom:3px;
}
}